html {
  scroll-behavior: smooth;
}

.article-img {
  height: 226px;
}

/* CLICK POP STYLES */
.modal-container {
  z-index: 999999999999999 !important;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(20px);
}
.modal-content-box {
  min-height: 300px;
  background-color: #f7fdff;
  width: 450px;
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  padding: 30px 30px 50px 30px;
  right: 0;
}

.modal-content-box h3 {
  color: #000;
  font-size: 3rem;
  margin-bottom: 20px;
}

.modal-content-box h4 {
  color: #000;
  margin-top: 20px;
}

.modal-content-box img {
  width: 150px;
}

.modal-content-box p {
  color: #000;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.close-button i {
  color: #ff4e08;
  font-size: 2rem;
}

.close-button i:hover {
  color: #e58700;
}

.modal-logo {
  width: 100px;
  margin-top: 40px;
}

.modal-btn {
  background-color: var(--btn);
  border-radius: 1000px;
  border-bottom: 0px solid #e53d32;
  padding: 15px 45px;
  color: #ffffff;
  display: inline-block;
  font-family: "Overpass", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 350px;
  max-width: 100%;
  margin-top: 20px;
  -webkit-box-shadow: 0px 10px 25px rgb(0 0 0 / 30%);
  box-shadow: 0px 10px 25px rgb(0 0 0 / 30%);
}

.modal-btn:hover {
  color: #fff;
}
/* CLICK POP STYLES End */
